/* ========================================================== */
/* ========================= RESET ========================== */
/* ========================================================== */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ============================================================ */
/* ===================== ALL SCREEN SIZES ===================== */
/* ============================================================ */
:root {
  --black: #000000;
  --white: #ffffff;
}

body {
  margin: 0;
}
